doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(rel="stylesheet", href="https://unpkg.com/mvp.css")
        title Noom
    body 
        header
            h1 Noom
        main
            div#enterRoomContainer(hidden)
                form#enterRoomForm
                    input#enterRoomInput(placeholder="room id", required, type="text")
                    button Enter Room
            div#videoContainer
                div#localContainer
                    video#localVideo(autoplay, playsinline, width="1280", height="720")
                    button#startCaptureBtn start
                    button#stopCaptureBtn end
        script(src="/socket.io/socket.io.js") 
        script(src="/public/js/screen.js")  